 html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6{  
     -webkit-text-size-adjust:none;  
     
     }  
 ul, li, ol, dl, dd, dt{  
     list-style:none;  
     padding:0;  
     margin:0;  
     }  
 a{  
     text-decoration:none;
     }  
body {
    background-color: #416993;
    padding:0;
    margin:0;
    font-family: "Helvetica";
	font-size: 10px;
	background: url(http://www.welovethiscountry.com.au/bk.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}






/* ===================================================
FONT STYLES
====================================================*/
    h1 {
    font-size: 28px;
    font-weight:bold;
    letter-spacing: -0.02em;
    margin:0;
    }
    h2 {
    font-size: 23px;
    font-weight: normal;
    margin-bottom: 5px;
        margin:0;
    }
    h3 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 5px;
    }
    h4 {
    font-size: 19px;
    color: #252525;
    font-weight: normal;
    }
    h5 {
    font-size: 17px;
    font-weight:bold;
    margin-bottom: 5px;
    }
    h6 {
    font-size: 15px;
    color: #999;
    font-weight: normal;
    margin-bottom: 5px;
    }
    h1 {color:#884123}
    h2 {color:#5c388a}
    h3 {color:#5c388a}
    h4 {color:#5c388a}
    h5 {color:#5c388a}

    a.footerlink:link {	color: #FFFFFF;}
    a.footerlink:visited {	color: #FFF;}
    a.footerlink:hover{	color: #FFFFFF;}
    
    




/* DIVS */
div.header {    height: 100px;}
div.header img {    vertical-align: middle;}
#content {    margin: 0px 10px;}
div.menu ul {    padding: 0px;}
div.menu ul li {    padding: 0px;    list-style-type: none;    height: 79px;    line-height: 42px;    background: url('http://dev.walkingtrails.com.au/images/menubg.png');    margin-bottom: 6px;    -webkit-border-radius: 8px;    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);	border:1px solid #abadb3;}
div.menu ul li a {    display: block;    font-size: 16px;    font-weight: bold;    vertical-align: middle;    color: #46403b;    height: 79px;    line-height: 42px;    padding-top: 2px;    white-space: nowrap;    text-decoration: none;    overflow: hidden;    text-overflow: ellipsis;}
div.menu ul li a .highlight {    color: #1883c6;	text-align:center;}
div.callnow img {    vertical-align: middle;    position: relative;    top: -2px;}
div.callnow span {    padding-left: 8px;}
div.callnow .phone-number {    font-weight: bold;}
/*div.button {    background: #49398f;    height: 42px;    line-height: 42px;    color: #fff;    text-align: center;    vertical-align: middle;    -webkit-border-radius: 8px;    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);    -webkit-text-size-adjust: none;}
div.button a {    text-decoration: none;    color: #fff;}
*/
div.roundbox{background: #fff; color: #fff;    text-align: center;    vertical-align: middle;    -webkit-border-radius: 8px;    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);    -webkit-text-size-adjust: none;}



/* CLASSES */

.walkingtrails {	background-image:url(http://dev.walkingtrails.com.au/mobile/images/icon-walkingtrails.png); background-repeat:no-repeat;}
.walktips {	background-image:url(http://dev.walkingtrails.com.au/mobile/images/icon-walktips.png); background-repeat:no-repeat;}
.toptrails {	background-image:url(http://dev.walkingtrails.com.au/mobile/images/icon-toptrails.png); background-repeat:no-repeat;}
.textarea {	padding: 0px; list-style-type: none; margin-bottom: 6px; -webkit-border-radius: 8px; -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4); border:1px solid #abadb3; padding-top:10px; padding-bottom:10px; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(65%, white), color-stop(100%, #f7f7f7)); background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%);}




.button { text-align:left; font-family:Verdana, Geneva, sans-serif;	-moz-border-radius: 5px; -webkit-border-radius: 5px;	padding: 0px 0px; width:305px; text-decoration: none;	font-weight: bold;	/* -moz-box-shadow: 0 1px 2px #343434;	-webkit-box-shadow: 0 1px 2px #343434; */	cursor: pointer;	font-size:14px;}
.blue{color: black !important; 

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.46, rgb(204,204,204)),
	color-stop(0.20, rgb(225,225,225)),
	color-stop(0.87, rgb(204,204,204))
);


padding:0px; }
.blue:hover {background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.46, rgb(225,225,225)),
	color-stop(0.20, rgb(204,204,204)),
	color-stop(0.87, rgb(225,225,225))
);}



/* --------------
SLIDER
* -------------*/
.sliderbox{    background-color:#fff;      width:100%; padding:0px 0px 0px 0px;		-moz-border-radius: 10px;		-webkit-border-radius: 10px;		border-radius: 10px;		}
.slider-vertical {	height: 200px;	margin: 0 0 0 10px;}	
.ui-slider-range {background: #0079be;}
.ui-slider-handle {	background: url("http://dev.walkingtrails.com.au/mobile/images/walkingiconmove.png") repeat-x !important;	background-position:top;	-moz-border-radius: 5px;	-webkit-border-radius: 5px;	border: 0px solid black !important;	height: 36px !important;	width: 36px !important;	margin-top:-10px;}
.slidertitle {    font-size:16px;    color: #603913;	outline:0;	padding: 5px 10px 3px 10px;	text-decoration:none;	display:block;	text-shadow: 1px 1px 1px #fdd67b;}	
.slidertitlesmall{    font-size:14px;    font-weight:bold;    color: #603913;	outline:0;	padding: 5px 10px 3px 10px;	text-decoration:none;	display:block;	text-shadow: 1px 1px 1px #fdd67b;}
ul.list-star li {  padding-left: 20px; list-style: none;  background: url(http://dev.walkingtrails.com.au/mobile/images/star_1.png) left center no-repeat;}







/* ===================================================
BUTTON
====================================================*/

.button {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 4px 8px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: bold;
	-moz-box-shadow: 0 1px 2px #343434;
	-webkit-box-shadow: 0 1px 2px #343434;
	cursor: pointer;
}

.white {
	background: #dfdfdf url("http://dev.walkingtrails.com.au/Content/zcms/gfx/back_white.jpg") repeat-x left top;
	border: 1px solid white;
}
.white:hover {
	background: white url("http://dev.walkingtrails.com.au/Content/zcms/gfx/back_white_hover.jpg") repeat-x left top;
}